.watsapp-btn{
    color: #27AE60;
    background-color: #FFFFFF;
    border: 1px solid #27AE60;
    border-radius: 16px;
    height: 40px;
}

.watsapp-btn i{
    color: #27AE60;

}

.watsapp-btn:hover{
    color: #27AE60;
    background-color: #FFFFFF;
}

.call-btn{
    color: white;
    background:linear-gradient(#0ACEFE,#2699FB);
    border: none;
    border-radius: 8px;
}

.call-btn:hover{
    color: black;
}

/* .btn-outer{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap:1%
} */

.banner-content h1 {
    font-size: 52px;
    font-weight: 900;
}

.banner-content h1 span{
    color: #2699FB;
    background: url('../images/border.png') no-repeat bottom;
}

.banner-content p{
    font-size: 30px;
}

.banner-content ul{
    list-style: none;
    font-size: 30px;
}

.banner-content ul li i{
    padding: 0.50;
    color: white;
    background-color: #2699FB;
    border-radius: 50%;
}