.watsapp-btn{
    color: #27AE60;
    background-color: #FFFFFF;
    border: 1px solid #27AE60;
    border-radius: 16px;
    height: 40px;
}

.watsapp-btn i{
    color: #27AE60;

}

.watsapp-btn:hover{
    color: #27AE60;
    background-color: #FFFFFF;
}

.call-btn{
    color: white;
    background:linear-gradient(#0ACEFE,#2699FB);
    border: none;
    border-radius: 8px;
}

.call-btn:hover{
    color: black;
}

/* .btn-outer{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap:1%
} */

.banner-content h1 {
    font-size: 52px;
    font-weight: 900;
}

.banner-content h1 span{
    color: #2699FB;
    background: url('../images/border.png') no-repeat bottom;
}

.banner-content p{
    font-size: 22px;
}

.banner-content ul{
    list-style: none;
    font-size: 22px;
}

.banner-content ul li i{
    padding: 0.50;
    font-size: 22px;
    color: white;
    background-color: #2699FB;
    border-radius: 50%;
}

.hr{
    display: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: pink;
}

.hello{
    background: #142d4e;
    height: 200px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    position: relative;
}

@property --deg {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.hello::before,
.hello::after {
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(
        from var(--deg) at center,
        #00c3ff,
        #4d0199,
        #4d0199,
        #00c3ff
    );
    border-radius: inherit;
    z-index: -2;
    padding: 2px;
    animation: autoRotate 2s linear infinite;
}

.hello::after{
    filter: blur(10px);
}

@keyframes autoRotate {
    to{
        --deg: 360deg;
    }
}